/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size);
  background-image: url(../images/cover-image-dark.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 0 var(--main-gap);
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  padding: var(--main-gap) 0;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  color: var(--decor-button-headings-color);
  position: relative;
  height: 100vh;
  min-height: 668px;
}

.span-rec::after {
  content: "";
  background-color: var(--decor-button-headings-color);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px var(--decor-button-headings-color);
  position: absolute;
  top: 5px;
  left: 40px;
}

.span-rec {
  text-transform: uppercase;
  position: absolute;
  right: 28px;
  top: 21px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--decor-button-headings-color);
  border-inline-start: 1px solid var(--decor-button-headings-color);
  inset-inline-start: 0;
  inset-block-end: var(--main-gap);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--decor-button-headings-color);
  border-inline-end: 1px solid var(--decor-button-headings-color);
  inset-inline-end: 0;
  inset-block-start: var(--main-gap);
}

.header__theme-menu-list {
  display: flex;
  gap: var(--little-gap);
  justify-content: center;
}

.title {
  color: var(--title-color);
  font-size: clamp(7.5rem, 0.5262rem + 14.5098vw, 9.8125rem);
  line-height: 82.5%;
}

.title:not(.footer-heading) {
  text-shadow: 4px 4px 0px var(--shadow-color);
  margin-inline-start: -20px;
}

.title-span {
  max-width: 50%;
  min-width: 355px;
  justify-self: self-end;
  align-self: center;
  font-weight: bold;
}

.title-decor {
  background-color: var(--h-background-color);
  color: var(--headings-on-bg-color);
  line-height: 23.4px;
  font-size: var(--font-size);
}

.header__theme-menu-button {
  appearance: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-transform: lowercase;
  line-height: 18px;
  padding: 2px 13px;
  text-align: center;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decor-button-headings-color);
  pointer-events: none;
}

.header__theme-menu-button:focus,
.link:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--decor-button-headings-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.main {
  display: grid;
  gap: 80px;
  margin: 60px 0;
  line-height: 23.4px;
}

.section-type-1 {
  display: grid;
  grid-template-columns: 34% 2fr;
}

.article-list {
  display: grid;
  gap: var(--main-gap);
}

.article-list-type-2 {
  grid-template-columns: repeat(3, 1fr);
}

.article {
  display: flex;
  flex-direction: column;
  gap: var(--little-gap);
}

.link {
  text-shadow: 2px 2px 0 var(--shadow-color);
  text-decoration: none;
}

.link:hover {
  border-block-end: 1px solid var(--text-color);
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.sections-heading {
  color: var(--decor-button-headings-color);
  font-size: var(--font-size);
  margin-inline-end: var(--main-gap);
  max-width: 315px;
}

.heading-with-margin {
  margin: 0 20px 20px 0;
}

.special-heading {
  margin-block-end: var(--main-gap);
}

.thin-heading {
  font-weight: 400;
}

.gallery {
  display: grid;
  gap: var(--main-gap);
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
}

.img:nth-child(1) {
  grid-area: sunset;
}

.img:nth-child(2) {
  grid-area: ice-cream;
}

.img:nth-child(3) {
  grid-area: tape;
}

.img:nth-child(4) {
  grid-area: books;
}

.img:nth-child(5) {
  grid-area: street;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  position: relative;
}

.footer-heading {
  text-shadow: 2px 2px 0px var(--shadow-color);
}

/* далее медиазапросы */

@media (max-width: 830px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
  }

  .header__theme-menu-item {
    padding: 1.5px 0;
  }

  .header__theme-menu {
    align-self: center;
  }

  .title {
    padding-block-start: 4px;
  }

  .title-span {
    align-self: center;
  }

  .sections-heading {
    max-width: 236px;
  }

  .section-type-1 {
    grid-template-columns: 35% 2fr;
  }

  .article-list-type-2 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 0 var(--little-gap);
  }

  .span-rec {
    top: 11px;
  }

  .decorated-zone::after {
    inset-inline-start: 0;
    inset-block-end: var(--little-gap);
  }

  .decorated-zone::before {
    inset-inline-end: 0;
    inset-block-start: var(--little-gap);
  }

  .header {
    padding: var(--little-gap) 0;
  }

  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .title:not(.footer-heading) {
    margin-inline-start: 0;
  }

  .title-span {
    width: 100%;
  }

  .main {
    margin: 40px 0;
    gap: 50px;
  }

  .section-type-1 {
    grid-template-columns: 1fr;
  }

  .sections-heading {
    min-width: 100%;
    margin-block-end: var(--main-gap);
  }

  .gallery-heading {
    margin-block-end: var(--little-gap);
  }

  .gallery {
    display: flex;
    flex-direction: column;
    gap: var(--little-gap);
  }
}
