/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --text-color: #f1b2ce;
  --h-background-color: #ff0070;
  --headings-on-bg-color: #000028;
  --decor-button-headings-color: #ff0070;
  --shadow-color: #ff0070;
  --title-color: #db00ff;
  --background-color: #000028;
  --hover-color: rgba(255, 0, 112, 0.4);
  --font-family: "IBM Plex Mono", sans-serif;
  --font-size: 18px;
  --main-gap: 20px;
  --little-gap: 10px;
}
